.cv{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    margin-right:25%;
    
 
}
.info-resume{
    padding: 10px;
    margin: 20px;
}
.image{
    position: absolute;
    right: 0px;
    width: 250px;
    height: 200px;
    background-image: url(../images/perpic.jpg);
    background-position:right;
    background-size: cover;
   border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 15px;
    border: 3px outset;
    transition: 2s;
}
.image:hover{
    transition: 2s;
    transform: rotateY(180deg);
    width: 300px;
}
.data{
    background-color: black;
    color: white;
    padding-left:5%;
    box-shadow: 1%;
    
}
table th{
    font-size: 20px;
    padding: 10px;
    text-align: left;
}
table tr{
    font-size: 20px;
    padding:10px;
    margin: 10px;
}
fieldset{
    margin: auto;
    width: 80%;
    border-radius: 10px;
    border: 3px outset;
    
}
legend{
    margin-left: 10%;
    border: 2px solid;
    border-radius: 4px;
    padding: 5px;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
    background-color: #2e2e2e;
    color: #fff;
}
.line{
  
    
}